body {
  color: var(--text-dark);
  font-family: Inter, sans-serif;
  /* font-style: italic; */
  font-weight: 600;
  background-color: var(--bg-body);
}

svg {
  fill: currentColor;
  /* color: red; */
}

/* use {
  fill: currentColor;
} */