.favorites {
  max-width: 1440px;
  margin: 0 auto 100px auto;
  padding: 0 var(--custom-gap);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.favorites__title {
  text-align: center;
  font-size: 60px;
  line-height: 75px;
  color: var(--text-dark);
}

.favorites__title--accent {
  color: var(--text-accent);
  font-style: italic;
}

.favorites__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.favorites__slider-btn {
  cursor: pointer;
  padding: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--border-dark);
  transition: background-color 0.3s ease-in-out;
}

.favorites__icon-arrow-right {
  stroke: var(--text-dark);
  transition: stroke 0.3s ease-in-out;
}

.favorites__icon-arrow-right--rotated {
  transform: rotate(180deg);
}

.favorites__slider-window {
  overflow: hidden;
  max-width: 480px;
}

.favorites__slider-track {
  width: calc(var(--slidesCount) * 100%);
  display: flex;
  transition: transform 0.3s;
}

.favorites__slider-slide {
  width: calc(100% / var(--slidesCount));
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.favorites__slider-image {
  margin-bottom: 4px;
  width: 100%;
}

.favorites__slider-title {
  color: var(--text-dark);
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.favorites__slider-description {
  color: var(--text-dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.favorites__slider-price {
  color: var(--text-dark);
  font-size: 24px;
  line-height: 30px;
}

.favorites__slider-progress-bars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.favorites__slider-progress-bar-container {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: var(--border-light);
  position: relative;
  overflow: hidden;
}

.favorites__slider-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--border-dark);
}

.favorites__slider-progress-bar--animated {
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
  animation-name: bar-animation;
}

.favorites__slider-window:hover .favorites__slider-progress-bar--animated {
  animation-play-state: paused;
}

@keyframes bar-animation {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .favorites {
    scroll-margin-top: var(--header-height);
  }
}

@media (max-width: 525px) {
  .favorites__title {
    font-size: 32px;
    line-height: 40px;
  }

  .favorites__slider-btn {
    display: none;
  }
}

@media (hover: hover), (pointer: fine) {
  .favorites__slider-btn:hover {
    background-color: var(--bg-container);
  }

  .favorites__slider-btn:hover .favorites__icon-arrow-right {
    stroke: var(--text-light);
  }
}