.header {
    padding: 18px 0;
}

.header__container {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
}

.header__list {
    display: flex;
    column-gap: 40px;
}

.header__link {
    position: relative;
    padding: 10px 0;
    color: var(--text-dark);
    font-size: 16px;
    line-height: 24px;
}

.header__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: var(--text-dark);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.header__link:hover::after {
    left: 0;
    width: 100%;
    opacity: 1;
}

.header__link--coffee-cup {
    display: inline-flex;
    column-gap: 8px;
}

.header__icon-coffee-cup {
    fill: none;
}